__pycache__/
*.py[cod]
*.pyo
*.pyd

.venv/
venv/
env/
.env
.env.*

.streamlit/secrets.toml

.ipynb_checkpoints/

.DS_Store
.vscode/
.idea/

*.tmp
*.bak
*.log

data_private/
data_raw/
data_original/
data_real/
data_internal/
# Generated app outputs
data_synthetic_out/
